@import url(./app.css);
@import url(./style.css);
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style-type: none !important;
  scroll-behavior: smooth;
}

/* === ROOT === */
:root {
  /* === Font Size === */
  --fs_xsm: 12px;
  --fs_sm: 16px;
  --fs_md: 16px;
  --fs_lg: 18px;
  --fs_xl: 25px;
  --fs_xxl: 40px;
  /* === Font weight === */
  --fw_md: 500;
  /* === Text Color === */
  --tc_body: #ff7e06;
  /* === Background Color === */
  --bg_body: #ff7e06;
  /* === Font Family === */
  --ff_Bebas_Neue: "Bebas Neue";
  --ff_Montserrat: "Montserrat";
}

/* === Font Size === */
.fs_xsm {
  font-size: var(--fs_xsm);
}

.fs_sm {
  font-size: var(--fs_sm);
}

.fs_md {
  font-size: var(--fs_md);
}

.fs_lg {
  font-size: var(--fs_lg);
}

.fs_xl {
  font-size: var(--fs_xl);
}

.fs_xxl {
  font-size: var(--fs_xxl);
}

/* === Font weight === */
.fw_md {
  font-weight: var(--fw_md);
}

/* === Text Color === */

.tc_body {
  color: var(--bg_body);
}

/* === Background Color === */

.bg_body {
  background-color: var(--bg_body);
}

/* Font Family */
.ff_bebas_neue {
  font-family: var(--ff_Bebas_Neue);
}

.ff_Montserrat {
  font-family: var(--ff_Montserrat);
}

/* === Navbar === */
.transition_100ms {
  transition: 100ms ease-in-out;
}

.nav_a:hover {
  -webkit-text-stroke: 1.5px black;
  opacity: 1;
  transition: 100ms ease-in-out;
}
.nav_a_clr:hover {
  color: var(--tc_body) !important;
  transition: 100ms ease-in-out;
}
.line {
  height: 3px;
  width: 30px;
  background-color: var(--bg_body);
  display: inline-block;
}

.ms_100 {
  margin-left: -100%;
}
.cursor_pointer {
  cursor: pointer;
}
.nav_open {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 999;
  background-color: white;
  transition: all 0.3s linear;
}
.btn_px_py {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 36px;
  padding-left: 36px;
}
.px_4 {
  padding-right: 35px;
  padding-left: 35px;
}

@media (min-width: 992px) {
  .nav_open {
    all: unset;
  }
}
.border_top {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.about_btn {
  padding: 16px 35px;
}

/* === Navbar === */

/* === Header === */
.z_index_1 {
  z-index: 1;
}

.z_index_2 {
  z-index: 2;
}
.z_index_3 {
  z-index: 3;
}
.transition_200ms {
  transition: 200ms;
}
.right_arrow:hover img {
  transform: translateX(5px);
}
/* === slider === */
.slick-dots {
  text-align: end !important;
}
.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: transparent;
  background: var(--bg_body) !important;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 25px !important;
  height: 3px !important;
  content: "•";
  text-align: center;
  opacity: 0.75 !important;
  background-color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* === slider === */

.pt_70 {
  padding-top: 70px;
}

.tc_vertical {
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  transform: rotate(180deg);
}

/* === Header === */

/* === main === */
.btn_px {
  padding-left: 35px;
  padding-right: 35px;
}
/* === Marketing Plans section === */
.para_max_width {
  max-width: 650px;
}
.transition_500ms {
  transition: 500ms ease-in-out;
}
.card_hover:hover {
  background: var(--bg_body);
  transition: 500ms ease-in-out;
}
.card_hover:hover .on_hover svg path {
  fill: white;
}

/* === Your business === */
.lines_bg_img {
  background-image: url(../public/assets/images/png/lines_bg_img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.play_btn {
  width: 17%;
}
/* === main === */
.business_img {
  margin-left: 6rem;
  margin-top: 5rem;
}
.max_w_75 {
  max-width: 600px;
}
.start_30 {
  left: -14%;
}
.a_hover:hover {
  color: var(--tc_body);
}
@media (max-width: 768px) {
  .social_icons {
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
  }
  .mt_7 {
    margin-top: 7rem !important;
  }
}
@media (max-width: 576px) {
  .mt_7 {
    margin-top: 7rem !important;
  }
}

@media (min-width: 768px) {
  :root {
    /* === Font Size === */
    --fs_xsm: 12px;
    --fs_sm: 16px;
    --fs_md: 20px;
    --fs_lg: 24px;
    --fs_xl: 28px;
    --fs_xxl: 48px;
  }
  .slider {
    top: -25px;
    left: -15px;
  }
}

@media (min-width: 992px) {
  :root {
    /* === Font Size === */
    --fs_xsm: 12px;
    --fs_sm: 16px;
    --fs_md: 20px;
    --fs_lg: 25px;
    --fs_xl: 48px;
    --fs_xxl: 96px;
  }
  .hero_section {
    min-height: 92.2vh;
  }

  .business_img {
    margin-left: 8rem;
    margin-top: 8rem;
  }
}
.close_btn_hover:hover {
  background-color: unset !important;
}
@media (min-width: 1200px) {
  .min_vh_xl_100 {
    min-height: 100vh;
  }
}

@media (min-width: 1600px) {
  .hero_section {
    min-height: 93.2vh;
  }
}
@media (max-width: 992px) {
  .w_lg_25 {
    width: 25% !important;
  }
  .h_auto {
    height: 300px !important;
  }
  .h_video {
    height: 250px !important;
  }
}
@media (max-width: 1200px) {
  .w_xl_100 {
    width: 100% !important;
  }
  .w_xl_100 {
    width: 100% !important;
  }
  .w_xl_50 {
    width: 50% !important;
  }
}
@media (max-width: 1400px) {
  .w_xxl_25 {
    width: 25% !important;
  }
  .h_auto {
    height: 400px;
  }
  .h_video {
    height: 400px;
  }
  .w_xxl_100 {
    width: 100% !important;
  }
  .grid_videoOne {
    width: 356px;
    height: 546px;
  }
  .grid_videoTwo {
    width: 356px;
    height: 416px;
  }
}
/* Back to top */
.back-to-top {
  position: fixed;
  bottom: 3%;
  right: 20px;
  z-index: 9999;
  color: var(--white);
  background-color: #ff7e06;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  font-weight: 500;
}
